doctype html
html(lang="ko")
  head 
    title #{pageTitle} | NomTube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
      main
        header
          h1=pageTitle
        block contents
    include partials/footer.pug