extends base.pug

block contents
  h3 Change Title of video
    form(method="POST")
      input(name="title" placeholder="Video title", value=video.title, required)
      input(value="Save" type="submit")



