header
  a(href="/").header__logo
    i.fab.fa-youtube
  h1=pageTitle
  nav
    ul
      li
        a(href="/search")
          i.fas.fa-search
      if isLogin
        li
          a(href="/videos/upload") Upload Video
        li
          a(href=`/users/${user._id}`) My Profile
        li
          a(href="/users/edit-profile") Edit Profile
        li
          a(href="/users/logout") Log Out
      else
        li
          a(href="/login") Login
        li
          a(href="/signup").header__btn Join