extends ../base.pug

block contents
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="password", required, placeholder="old password" name="old_password")
    input(type="password", required, placeholder="password" name="password")
    input(type="password", required, placeholder="confirm password" name="confirm_password")
    input(type="submit", value="Edit password")