extends ../base.pug

block contents
  form(method="POST" enctype="multipart/form-data")
    label(for="avatar") Avatar
    input(type="file" id="avatar" name="avatar" accept="image/*")
    input(type="text", required, placeholder="name" name="name" value=user.name)
    input(type="text", placeholder="location" name="location" value=user.location)
    input(type="submit", value="Edit profile")

    if user.type = 'email'
      hr
      a(href="edit-password") Edit password &rarr;